@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand {
    color: black !important;
    font-weight: 800;
}

.img-nav-brand {
    height: 90px;
}

.sm-text {
    font-size: 12px;
    text-align: justify;
}

.nav-link {
    color: #000000 !important;
    text-underline-offset: 5px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration-color: #000000;
    font-size: 21px;
}

.nav-link:hover {
    color: #000000 !important;
    text-underline-offset: 10px;
    text-decoration: underline 2px solid;
    padding: 0.5rem 1rem;
    text-decoration-color: #81C341;
    font-size: 21px;
}

.video-size {
    height: 600px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.main-titlee {
    font-weight: 900;
    color: #000000;
    font-size: 2.9rem !important;
}

.main-title2 {
    font-weight: 700;
    /* color: #393939; */
    letter-spacing: 2px;
    color: #81C341;
    font-size: 1.3rem !important;
}

.main-title3 {
    font-weight: 900;
    /* color: #393939; */
    letter-spacing: 2px;
    color: #000000;
    font-size: 1.2rem !important;
}

.headline-text {
    font-size: 1.2rem;
    max-width: 500px;
    line-height: 2rem;
    text-align: justify;
}

.fw-mine2 {
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}

.fotwidth {
    max-width: 500px;
    text-align: justify;
}

.foot-up-img {
    opacity: 0.25;
    margin-bottom: -5px;
    overflow: hidden;
    width: 100% !important;
}

.border-left {
    border-left: 4px solid #81C341;
    height: 520px;
}

.hero-image {
    object-fit: cover;
    border-radius: 30px;
}

.btn-mine {
    background: #81C341;
    border-radius: 5px;
    color: white;
    border: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
}

.flip {
    object-fit: cover;
    height: 400px;
    position: relative;
}

.flipp {
    width: 250px;
    transform: scaleX(-1);
}

.btn-mine:hover {
    background: #5fbb0f;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
}

.call-btn {
    background: #81C341;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 600;
    font-size: 21px;
}

.call-btn:hover {
    background-color: #5fbb0f;
    color: white;
}

.title {
    font-weight: 400;
    color: #000000;
    font-size: 2rem !important;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.svg-icon {
    height: 20px;
}

.fields {
    width: 100%;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #f1f3fa;
}

.mylist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mylist li {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.mylist li::marker {
    content: "+";
    font-weight: bold;
    color: #000000;
}

.mylist2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mylist2 li {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.mylist2 li::marker {
    content: "*";
    font-weight: bold;
    color: #000000;
}

.foot-up-img {
    opacity: 0.25;
    margin-bottom: -5px;
    overflow: hidden;
    width: 100% !important;
}

.bottomlogo {
    font-size: 2rem !important;
    line-height: 1.8rem;
    color: black;
}

.bottomlogo:hover {
    color: black;
}

.sixdesign {
    max-height: 90px;
    width: auto;
}

.signature {
    max-height: 25px;
    width: auto;
}

@media (max-width: 700px) {
    .mess {
        height: 100px !important;
    }
    .img-nav-brand {
        height: 70px;
    }
    .footer-logo {
        height: 100px;
    }
    .video-size {
        padding-top: 10px;
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    .flip {
        object-fit: cover;
        height: 200px;
        display: flex;
        position: relative;
    }
    .main-titlee {
        font-weight: 900;
        color: #000000;
        display: flex;
        font-size: 1.5rem !important;
    }
    .imgtext {
        display: flex !important;
    }
    .pt-5 {
        padding-top: 20px !important;
    }
    .bottomlogo {
        font-size: 1.5rem !important;
        line-height: 1.8rem;
        color: black;
    }
    .register {
        font-size: 1.2rem !important;
        color: black;
    }
    .bedsm {
        font-weight: 700;
        /* color: #393939; */
        letter-spacing: 1px;
        color: #73c130;
        font-size: 1rem !important;
    }
    .fw-mine2 {
        font-weight: 700;
        letter-spacing: 0.4px;
        font-size: 1rem;
        color: rgb(61, 61, 61);
    }
    .border-left {
        border-left: none
    }
}