@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

.navbar-brand {
    color: black !important;
    font-weight: 800;
}

.nav-link {
    color: #000000 !important;
    text-underline-offset: 5px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration-color: #000000;
}

.video-size {
    height: 600px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.main-titlee {
    font-weight: 900;
    color: #000000;
    font-size: 2.9rem !important;
}

.main-title2 {
    font-weight: 700;
    /* color: #393939; */
    letter-spacing: 4px;
    color: #73c130;
    font-size: 1.7rem !important;
}

.headline-text {
    font-size: 1.2rem;
    max-width: 500px;
    line-height: 2rem;
    text-align: justify;
}

.fw-mine2 {
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 1rem;
    color: rgb(61, 61, 61);
}

.hero-image {
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}

.btn-mine {
    background: #438509;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
}

.flip {
    /* transform: scale(-1, 1); */
}

.btn-mine:hover {
    background: #2e5c05;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
}

.call-btn {
    background: #438509;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 600;
    font-size: large;
}

.call-btn:hover {
    background-color: #2e5c05;
    color: white;
}

.title {
    font-weight: 400;
    color: #000000;
    font-size: 2rem !important;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    object-position: top;
    width: 100%;
    border-radius: 5px;
}

.svg-icon {
    height: 50px;
}

.fields {
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #f1f3fa;
}

.mylist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mylist li {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.mylist li::marker {
    content: "+";
    font-weight: bold;
    color: #000000;
}

.mylist2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mylist2 li {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.mylist2 li::marker {
    content: "*";
    font-weight: bold;
    color: #000000;
}

.foot-up-img {
    opacity: 0.25;
    margin-bottom: -5px;
    overflow: hidden;
    width: 100% !important;
}

.bottomlogo {
    font-size: 2rem !important;
    line-height: 1.8rem;
    color: black;
}

.bottomlogo:hover {
    color: black;
}

@media (max-width: 700px) {
    .mess {
        height: 100px !important;
    }
    .video-size {
        padding-top: 10px;
        height: auto;
        width: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 60px;
        position: relative;
        overflow: hidden;
    }
}